<header>
  <div class="navbar">
    <div class="nav-header">
      <h1>Fatwa Abdusyukur</h1>
      <button type="button">
        <span class="hamburger-menu"></span>
        <span class="hamburger-menu"></span>
        <span class="hamburger-menu"></span>
      </button>
    </div>
    <div class="nav-link-container hidden sm:flex sm:gap-2">
      <div class="nav-link">
        <a
          href="#"
          class="font-[tektur] text-gray-200 hover:text-gray-600 cursor-pointer"
          >About</a
        >
        <a
          href="#"
          class="font-[tektur] text-gray-200 hover:text-gray-600 cursor-pointer"
          >Contact</a
        >
        <a
          href="#"
          class="font-[tektur] text-gray-200 hover:text-gray-600 cursor-pointer"
          >Project</a
        >
      </div>
    </div>
  </div>
</header>
